
.mainnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b2430;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

#navlink ul{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

 #navlink li{
  list-style: none;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  
}

a {
  text-decoration: none;
  
}
.mob{
  display: none;
}
.mob i{
  color: #fff;
  align-items: center;
  
}
@media screen and (max-width:769px){
  #navlink ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:90px;
    right: -400px;
    width: 300px;
    height: 100vh;
    background: #2a3239;
    box-shadow: 0 40px 60px green;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    margin: 0;
    padding: 1 ; 
    box-sizing: border-box;
  }

  #navlink.active ul{
    right: 0px;
  }

  .navlink li{
    margin-bottom: 25px;
  }
  .mob{
    display: block;
  }

  .mob i{
    font-size: 24px;
    cursor: pointer;
  }
}



