.btn{

  background-color: #0d6fe0;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.btn:hover,
.btn:focus {
  background-color: #F082AC;
}

.grid{
    display: grid;
    column-gap: 20px;
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
}

.sec-one h1{
   color: plum;
    text-align: center;
}

.sec-one p{
    color: rgb(53, 131, 155);
    text-align: justify;
 }


